.container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .scrollable-list {
    flex: 1; 
    overflow-y: auto;
  }

  img {
    padding: 15px;
  }

  ion-back-button {
    position: absolute;
  }